<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<title>Add New User</title>

	<!--/*/ <th:block th:include="fragments/head-include :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">
	<h2>Add New User</h2>
	<hr/>
	<p th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger">asdfasdf</p>
	<form th:action="@{/add}" th:object="${user}" method="post">
		<input
				th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />

		<input
				th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />

		<input
				th:replace="~{fragments/inputField :: input ('Email address', 'email', 'text')}" />

		<input
				th:replace="~{fragments/inputField :: input ('Username', 'username', 'text')}" />

		<input
				th:replace="~{fragments/inputField :: input ('Password', 'newPassword', 'password')}" />

		<input
				th:replace="~{fragments/inputField :: input ('Retype Password', 'retypeNewPassword', 'password')}" />

		<div class="mb-3">
			<label for="authoritySelect" class="form-label">Authority</label>
			<select id="authoritySelect" th:field="*{auths}"
					class="form-select">
				<option th:each="auth : ${auths}" th:value="${auth.authority}"
						th:text="${auth.authority}">Auth</option>
			</select>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button type="submit" class="btn btn-primary">Add User</button>
	</form>

</div>
</body>
</html>