<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

	<title>Title</title>
	<!--/*/ <th:block th:include="fragments/head-include :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="d-flex justify-content-center">
	<h2>Profile</h2>
</div>
<hr/>
<div class="container">
	<div class="row">
		<!--/*/ <th:block th:include="fragments/side-menu :: side-menu"></th:block> /*/-->


		<div class="container col-10">

			<div th:if="${errorMessage}" class="d-flex justify-content-center">
				<p th:text="${errorMessage}" class="text-danger">asdfasdf</p>
			</div>
			<div th:if="${message}" class="d-flex justify-content-center">
				<p th:text="${message}" class="text-success">asdfasdf</p>
			</div>

			<div
					th:replace="~{fragments/confirm :: confirm-with-password (
                'Are you sure you want to delete your account? All your Bookings will be cancelled.',
                '/delete')}"/>

		</div>
	</div>
</div>
</div>

</div>
</body>
</html>